*.mat
TMP Test/tmp_data/
*.pyc
Dataset/D2A/v1/Train.7z
Dataset/D2A/v1/Test.7z
wandb/
TMP_File/
artifacts/
Dataset/D2A/v1_backup/Test.7z
Dataset/D2A/v1_backup/Train.7z
New Code/Plot
New Code/TMP_Folder
New Code/subj_3_stft	
New Code/subj_3_stft/model_10.pth
New Code/subj_3_stft/model_100.pth
New Code/subj_3_stft/model_105.pth
New Code/subj_3_stft/model_110.pth
New Code/subj_3_stft/model_115.pth
New Code/subj_3_stft/model_120.pth
New Code/subj_3_stft/model_125.pth
New Code/subj_3_stft/model_130.pth
New Code/subj_3_stft/model_135.pth
New Code/subj_3_stft/model_140.pth
New Code/subj_3_stft/model_145.pth
New Code/subj_3_stft/model_15.pth
New Code/subj_3_stft/model_150.pth
New Code/subj_3_stft/model_155.pth
New Code/subj_3_stft/model_160.pth
New Code/subj_3_stft/model_165.pth
New Code/subj_3_stft/model_170.pth
New Code/subj_3_stft/model_175.pth
New Code/subj_3_stft/model_180.pth
New Code/subj_3_stft/model_185.pth
New Code/subj_3_stft/model_190.pth
New Code/subj_3_stft/model_195.pth
New Code/subj_3_stft/model_20.pth
New Code/subj_3_stft/model_200.pth
New Code/subj_3_stft/model_205.pth
New Code/subj_3_stft/model_210.pth
New Code/subj_3_stft/model_215.pth
New Code/subj_3_stft/model_220.pth
New Code/subj_3_stft/model_225.pth
New Code/subj_3_stft/model_230.pth
New Code/subj_3_stft/model_235.pth
New Code/subj_3_stft/model_240.pth
New Code/subj_3_stft/model_245.pth
New Code/subj_3_stft/model_25.pth
New Code/subj_3_stft/model_250.pth
New Code/subj_3_stft/model_255.pth
New Code/subj_3_stft/model_260.pth
New Code/subj_3_stft/model_265.pth
New Code/subj_3_stft/model_270.pth
New Code/subj_3_stft/model_275.pth
New Code/subj_3_stft/model_280.pth
New Code/subj_3_stft/model_285.pth
New Code/subj_3_stft/model_290.pth
New Code/subj_3_stft/model_295.pth
New Code/subj_3_stft/model_30.pth
New Code/subj_3_stft/model_300.pth
New Code/subj_3_stft/model_35.pth
New Code/subj_3_stft/model_40.pth
New Code/subj_3_stft/model_45.pth
New Code/subj_3_stft/model_5.pth
New Code/subj_3_stft/model_50.pth
New Code/subj_3_stft/model_55.pth
New Code/subj_3_stft/model_60.pth
New Code/subj_3_stft/model_65.pth
New Code/subj_3_stft/model_70.pth
New Code/subj_3_stft/model_75.pth
New Code/subj_3_stft/model_80.pth
New Code/subj_3_stft/model_85.pth
New Code/subj_3_stft/model_90.pth
New Code/subj_3_stft/model_95.pth
New Code/subj_3_stft/model_BEST.pth
