*.mat
TMP Test/tmp_data/
*.pyc
Dataset/D2A/v1/Train.7z
Dataset/D2A/v1/Test.7z
wandb/
TMP_File/
artifacts/
Dataset/D2A/v1_backup/Test.7z
Dataset/D2A/v1_backup/Train.7z
New Code/Plot
New Code/TMP_Folder
New Code/subj_3_stft	
