*.mat
*.pyc
*.png
*.eps
*.pdf
*.pth
*.npy
*.pickle
.venv
!examples/
!examples/example_trained_weigths.pth
TMP_Folder/
TMP Test/tmp_data/
Saved Results/
Saved Model/
Dataset/D2A/v1/Train.7z
Dataset/D2A/v1/Test.7z
wandb/
Saved Model/
Saved Results/
TMP_File/
artifacts/
.spyproject/config/workspace.ini
TMP Test/tmp_data/
Dataset/D2A/v1/Train.7z
Dataset/D2A/v1/Test.7z
Dataset/D2A/v1_backup/Test.7z
Dataset/D2A/v1_backup/Train.7z
*.ini
*.bak
